<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo" style="background-color: white;">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/completo.png" alt="logo" style="width: 70%; height: 120%;">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="home">Home</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Cadastro" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="form/person">Pessoa</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="form/type-person">Tipo de pessoa</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="form/type-person">Tipo de pessoa</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="form/type-media">Tipo de foto</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <span class="header-trigger" style="float: right; padding-top: 0px!important;" wfd-id="84" (click) = "logout()">
          <p>{{username}}
            <i nz-icon nzType="logout"  nzTheme="outline"></i>
          </p>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

    <nz-drawer
      [nzWidth]="320"
      [nzVisible]="!isLogged"
      nzTitle="Login"
    >
      <form *nzDrawerContent nz-form  [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div *ngIf="!isLoadingLogin">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="Digite seu usuário!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="username" placeholder="Username" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-control nzErrorTip="Digite sua senha!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
          </div>
          <div nz-row>
            <p style="color: red">{{ error_message }}</p>
          </div>
        </div>
        <div *ngIf="isLoadingLogin">
          <nz-spin nzSimple ></nz-spin>
        </div>
      </form>
    </nz-drawer>